---
// Assets

// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Component
import BlogEntries from "@/components/blog/BlogEntries.astro";
import SubscribeCta from "@/components/blog/SubscribeCta.astro";
// Content
import { getCollection } from "astro:content";
const allPostsUnsorted = await getCollection("posts");
// Sort the posts in descending order by publication date (newest to oldest)
const allPosts = allPostsUnsorted.sort(
  (a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate)
);
// Tags
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-24">
      <Text
        tag="h1"
        variant="display3XL"
        class="text-primary font-semibold tracking-tighter text-balance"
      >
        Latest news
      </Text>

      <div
        class="mt-12 grid grid-cols-1 items-start gap-12 md:grid-cols-2 lg:grid-cols-4"
      >
        <div
          class="flex flex-wrap items-center gap-2 lg:sticky lg:top-24 lg:z-50"
        >
          {
            tags.map((tag) => (
              <a
                title={tag}
                aria-label={tag}
                href={`/blog/tags/${tag}`}
                class="text-primary font-mono text-xs font-medium uppercase duration-300 hover:underline"
              >
                {tag}
              </a>
            ))
          }
        </div>
        <div
          class="divide-primary/10 border-primary/10 flex flex-col divide-y border-y lg:col-span-2"
        >
          {allPosts.map((post) => <BlogEntries post={post} />)}
        </div>
        <div class="lg:sticky lg:top-24 lg:z-50"><SubscribeCta /></div>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
