---
import { featured } from "../../data/featured.json";
---

<section>
  <div
    class="items-center w-full px-8 md:px-12 py-12 lg:pt-32 mx-auto 2xl:max-w-7xl">
    <div class="border-t border-zinc-800 pt-2">
      <div class="flex flex-col gap-8 lg:gap-0">
        <p class="text-white text-base tracking-wide font-display uppercase">
          All jobs
        </p>
        <div>
          <p
            class="text-base uppercase md:text-3xl mt-32 lg:text-6xl font-display tracking-tight text-white">
            Discover a wide range of thrilling job opportunities that align with
            your interests and chosen field of study.
          </p>
        </div>
        <ul
          class="flex flex-col mt-12 col-span-full divide-y border-y divide-zinc-800 border-zinc-800"
          role="list">
          {
            featured.map((template) => (
              <>
                <li class="w-full py-2">
                  <a
                    href={template.url}
                    title={template.title}
                    class="flex flex-col gap-8 lg:gap-0 w-full  text-white hover:text-zinc-500 duration-200">
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 md:items-end lg:gap-0 mt-32">
                      <div class="flex-shrink-0 block ">
                        <div class="flex items-center">
                          <div class=" font-display  tracking-wide">
                            <p class="text-base  tracking-wide">
                              {template.description}
                            </p>
                            <div class="inline-flex items-center gap-2 mt-12 w-full text-xs">
                              <span>{template.company}</span>一
                              <span>{template.place}</span>
                            </div>
                          </div>
                        </div>
                        <div class="inline-flex items-center gap-2 text-xs ">
                          <span>{template.time} ago</span>
                          <span> &bull;</span>
                          <span>{template.applicants} Applicants</span>
                        </div>
                      </div>
                      <p class=" text-base uppercase md:text-3xl  md:ml-auto lg:text-6xl font-display tracking-tight  lg:col-span-2">
                        {template.title}
                      </p>
                    </div>
                  </a>
                </li>
              </>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</section>
