---
import { type } from "@/data/filters/type.json";
import { categories } from "@/data/filters/categories.json";
import { level } from "@/data/filters/level.json";
import { salary } from "@/data/filters/salary.json";
---

<div>
  <p class="text-white text-base tracking-wide font-display uppercase">
    Filters
  </p>
  <form class="hidden lg:block mt-32 border-t border-zinc-800">
    <div
      x-data="{ open: false }"
      class="divide-y border-b divide-zinc-800 border-zinc-800">
      <h3 class="flow-root">
        <button
          type="button"
          x-description="Expand/collapse section button"
          class="flex w-full items-center justify-between py-2 text-white hover:text-zinc-500 duration-200 font-display tracking-wide uppercase text-xs"
          aria-controls="filter-section-0"
          @click="open = !open"
          aria-expanded="false"
          x-bind:aria-expanded="open.toString()">
          <span class="font-medium">Type Employment</span>
          <span class="ml-6 flex items-center">
            <svg
              class="h-5 w-5"
              x-description="Expand icon, show/hide based on section open state."
              x-show="!(open)"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"
              ></path>
            </svg>
            <svg
              class="h-5 w-5"
              x-description="Collapse icon, show/hide based on section open state."
              x-show="open"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
              style="display: none;">
              <path
                fill-rule="evenodd"
                d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z"
                clip-rule="evenodd"></path>
            </svg>
          </span>
        </button>
      </h3>
      {
        type.map((template) => (
          <>
            <div
              class="py-2 font-display tracking-wide uppercase text-xs text-white"
              x-description="Filter section, show/hide based on section state."
              id="filter-section-0"
              x-show="open"
              style="display: none;">
              <div class="space-y-4">
                <div class="flex items-center">
                  <input
                    id={template.name}
                    name={template.name}
                    value={template.name}
                    type="checkbox"
                    class="h-4 w-4 rounded-full border-zinc-800 bg-black text-black focus:ring-white focus:ring-offset-black"
                  />
                  <label
                    for="filter-color-0"
                    class="ml-3 text-sm text-white w-full inline-flex items-center">
                    {template.title}{" "}
                    <span class="ml-auto font-mono">{template.quantity}</span>
                  </label>
                </div>
              </div>
            </div>
          </>
        ))
      }
    </div>
    <div
      x-data="{ open: false }"
      class="divide-y border-b divide-zinc-800 border-zinc-800">
      <h3 class="flow-root">
        <button
          type="button"
          x-description="Expand/collapse section button"
          class="flex w-full items-center justify-between py-2 text-white hover:text-zinc-500 duration-200 font-display tracking-wide uppercase text-xs"
          aria-controls="filter-section-0"
          @click="open = !open"
          aria-expanded="false"
          x-bind:aria-expanded="open.toString()">
          <span class="font-medium">Categories</span>
          <span class="ml-6 flex items-center">
            <svg
              class="h-5 w-5"
              x-description="Expand icon, show/hide based on section open state."
              x-show="!(open)"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"
              ></path>
            </svg>
            <svg
              class="h-5 w-5"
              x-description="Collapse icon, show/hide based on section open state."
              x-show="open"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
              style="display: none;">
              <path
                fill-rule="evenodd"
                d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z"
                clip-rule="evenodd"></path>
            </svg>
          </span>
        </button>
      </h3>
      {
        categories.map((template) => (
          <>
            <div
              class="py-2 font-display tracking-wide uppercase text-xs text-white"
              x-description="Filter section, show/hide based on section state."
              id="filter-section-0"
              x-show="open"
              style="display: none;">
              <div class="space-y-4">
                <div class="flex items-center">
                  <input
                    id={template.name}
                    name={template.name}
                    value={template.name}
                    type="checkbox"
                    class="h-4 w-4 rounded-full border-zinc-800 bg-black text-black focus:ring-white focus:ring-offset-black"
                  />
                  <label
                    for="filter-color-0"
                    class="ml-3 text-sm text-white w-full inline-flex items-center">
                    {template.title}{" "}
                    <span class="ml-auto font-mono">{template.quantity}</span>
                  </label>
                </div>
              </div>
            </div>
          </>
        ))
      }
    </div>
    <div
      x-data="{ open: false }"
      class="divide-y border-b divide-zinc-800 border-zinc-800">
      <h3 class="flow-root">
        <button
          type="button"
          x-description="Expand/collapse section button"
          class="flex w-full items-center justify-between py-2 text-white hover:text-zinc-500 duration-200 font-display tracking-wide uppercase text-xs"
          aria-controls="filter-section-0"
          @click="open = !open"
          aria-expanded="false"
          x-bind:aria-expanded="open.toString()">
          <span class="font-medium">Job levels</span>
          <span class="ml-6 flex items-center">
            <svg
              class="h-5 w-5"
              x-description="Expand icon, show/hide based on section open state."
              x-show="!(open)"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"
              ></path>
            </svg>
            <svg
              class="h-5 w-5"
              x-description="Collapse icon, show/hide based on section open state."
              x-show="open"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
              style="display: none;">
              <path
                fill-rule="evenodd"
                d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z"
                clip-rule="evenodd"></path>
            </svg>
          </span>
        </button>
      </h3>
      {
        level.map((template) => (
          <>
            <div
              class="py-2 font-display tracking-wide uppercase text-xs text-white"
              x-description="Filter section, show/hide based on section state."
              id="filter-section-0"
              x-show="open"
              style="display: none;">
              <div class="space-y-4">
                <div class="flex items-center">
                  <input
                    id={template.name}
                    name={template.name}
                    value={template.name}
                    type="checkbox"
                    class="h-4 w-4 rounded-full border-zinc-800 bg-black text-black focus:ring-white focus:ring-offset-black"
                  />
                  <label
                    for="filter-color-0"
                    class="ml-3 text-sm text-white w-full inline-flex items-center">
                    {template.title}{" "}
                    <span class="ml-auto font-mono">{template.quantity}</span>
                  </label>
                </div>
              </div>
            </div>
          </>
        ))
      }
    </div>
    <div
      x-data="{ open: false }"
      class="divide-y border-b divide-zinc-800 border-zinc-800">
      <h3 class="flow-root">
        <button
          type="button"
          x-description="Expand/collapse section button"
          class="flex w-full items-center justify-between py-2 text-white hover:text-zinc-500 duration-200 font-display tracking-wide uppercase text-xs"
          aria-controls="filter-section-0"
          @click="open = !open"
          aria-expanded="false"
          x-bind:aria-expanded="open.toString()">
          <span class="font-medium">Job range</span>
          <span class="ml-6 flex items-center">
            <svg
              class="h-5 w-5"
              x-description="Expand icon, show/hide based on section open state."
              x-show="!(open)"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"
              ></path>
            </svg>
            <svg
              class="h-5 w-5"
              x-description="Collapse icon, show/hide based on section open state."
              x-show="open"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
              style="display: none;">
              <path
                fill-rule="evenodd"
                d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z"
                clip-rule="evenodd"></path>
            </svg>
          </span>
        </button>
      </h3>
      {
        salary.map((template) => (
          <>
            <div
              class="py-2 font-display tracking-wide uppercase text-xs text-white"
              x-description="Filter section, show/hide based on section state."
              id="filter-section-0"
              x-show="open"
              style="display: none;">
              <div class="space-y-4">
                <div class="flex items-center">
                  <input
                    id={template.name}
                    name={template.name}
                    value={template.name}
                    type="checkbox"
                    class="h-4 w-4 rounded-full border-zinc-800 bg-black text-black focus:ring-white focus:ring-offset-black"
                  />
                  <label
                    for="filter-color-0"
                    class="ml-3 text-sm text-white w-full inline-flex items-center">
                    {template.title}{" "}
                    <span class="ml-auto font-mono">{template.quantity}</span>
                  </label>
                </div>
              </div>
            </div>
          </>
        ))
      }
    </div>
  </form>
</div>
