---
const { company, companyLogo, position, url, type, salary, location } =
  Astro.props;
---
<a
  href={url}
  title={company}
  aria-label={company}>
  <div
    class="px-4 py-2 sm:grid sm:grid-cols-3 lg: sm:gap-4 sm:px-0 items-center gap-y-4 text-base font-medium text-white uppercase font-display">
    <dt>
      <div class="flex gap-2 items-center">
        <img
          src={companyLogo}
          alt=""
        />
        <p class="tracking-wide font-display">{company}</p>
      </div>
    </dt>
    <dd class="mt-1 flex justify-between sm:col-span-2 sm:mt-0 w-full hover:text-stone-400 duration-200">
      <div>
        {location}
        {position}
        {type}
        {salary}
      </div>
      <span class="ml-auto hidden md:block">&rarr;</span>
    </dd>
  </div>
</a>
