---
// Assets
import { Image } from "astro:assets";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";

// Mirror the TeamCard destructuring pattern
const { url, name, avatar, location, experience } = {
  url: "/candidates/" + Astro.props.candidate.id,
  name: `${Astro.props.candidate.data.firstName} ${Astro.props.candidate.data.lastName}`,
  avatar: Astro.props.candidate.data.avatar?.url,
  location: Astro.props.candidate.data.location,
  experience: Astro.props.candidate.data.experienceLevel,
};
---

<article class:list={["relative flex h-full items-center py-4", Astro.props.class]}>
  <a href={url} class="absolute inset-0 z-10"> </a>
  <div class="flex items-center gap-2">
    <Image
      width={48}
      height={48}
      src={avatar}
      alt={name}
      class="size-10 rounded-full"
    />

    <div>
      <Text
        tag="h4"
        variant="textBase"
        class="text-primary flex items-center gap-1 font-medium capitalize"
      >
        {name}
      </Text>
      <Text
        tag="p"
        variant="textSM"
        class="text-primary/60 flex items-center gap-1"
      >
        {location}
        <span aria-hidden="true">/</span>
        {experience}
      </Text>
    </div>
  </div>
</article>
