---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// offices
const offices = [
  {
    city: "Stockholm",
    street: "Sveavägen 12",
    postal: "111 57 Stockholm, Sweden",
    phone: "+46 8 123 456 78",
  },
  {
    city: "Oslo",
    street: "Karl Johans Gate 15",
    postal: "0150 Oslo, Norway",
    phone: "+47 22 123 456",
  },
  {
    city: "Helsinki",
    street: "Mannerheimintie 3",
    postal: "00100 Helsinki, Finland",
    phone: "+358 9 123 4567",
  },
];
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-24">
      <Text
        tag="h1"
        variant="display3XL"
        class="text-primary font-semibold tracking-tighter text-balance capitalize"
        >Let’s Make It Awkward <br class="hidden lg:block" />— Contact Us</Text
      >
      <div class="mt-12 grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-4">
        <div>
          <form action="#" method="POST" class="flex w-full flex-col gap-2">
            <div class="flex flex-col gap-1">
              <label for="email" class="text-primary block text-sm font-medium"
                >Email Address</label
              >
              <input
                type="email"
                id="email"
                name="email"
                required
                class="border-primary/10 focus:border-primary text-primary w-full border-0 border-b bg-transparent px-0 text-xs focus:ring-0 focus:outline-none"
              />
            </div>
            
            <div class="flex flex-col gap-1">
              <label
                for="message"
                class="text-primary block text-sm font-medium"
                >Your Message</label
              >
              <textarea
                id="message"
                name="message"
                rows="6"
                required
                class="border-primary/10 focus:border-primary text-primary w-full border-0 border-b bg-transparent px-0 text-xs focus:ring-0 focus:outline-none"
              ></textarea>
            </div>
            <div class="mt-2 flex">
              <Button type="submit" size="xs" variant="default">
                Make it awkward
              </Button>
            </div>
          </form>
        </div>
        {
          offices.map(({ city, street, postal, phone }) => (
            <div>
              <Text
                tag="h3"
                variant="textBase"
                class="text-primary font-medium"
              >
                {city}
              </Text>
              <address class="text-primary/60 border-primary/10 mt-1 border-t pt-4 not-italic">
                <Text tag="p" variant="textSM">
                  {street}
                </Text>
                <Text tag="p" variant="textSM">
                  {postal}
                </Text>
                <Text
                  tag="p"
                  variant="textSM"
                  class="text-primary mt-2 font-mono font-medium uppercase"
                >
                  Phone:
                  <a href={`tel:${phone}`} class="hover:text-blue">
                    {phone}
                  </a>
                </Text>
              </address>
            </div>
          ))
        }
      </div>
    </Wrapper>
  </section>
</BaseLayout>
