---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <section>
    <div class="mx-auto px-8 md:px-32 py-12 max-w-7xl">
      <div class="border-b border-stone-700 pb-12">
        <div class="max-w-2xl md:inline-flex md:items-center gap-3">
          <div class="h-12 w-12 flex-none">
            <img
              class="inset-0 h-full w-full rounded-full object-cover"
              src={frontmatter.companyLogo.url}
              alt={frontmatter.companyLogo.alt}
            />
          </div>
          <h2
            class="text-white text-3xl font-normal tracking-tight font-display lg:text-4xl mt-8 md:mt-0"
          >
            {frontmatter.position} at <span class="italic">
              {frontmatter.company}</span
            >
          </h2>
        </div>
        <dl
          class="mt-12 grid grid-cols-2 gap-x-8 gap-y-12 sm:grid-cols-3 sm:gap-y-16 lg:grid-cols-5"
        >
          <div class="flex flex-col gap-y-3 border-l border-stone-700 pl-6">
            <dt
              class="text-base leading-7 text-stone-400 inline-flex items-center gap-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-map-pin"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                <path
                  d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"
                ></path>
              </svg>Location
            </dt>
            <dd class="text-base font-semibold tracking-tight text-white">
              {frontmatter.location}
            </dd>
          </div>
          <div class="flex flex-col gap-y-3 border-l border-stone-700 pl-6">
            <dt
              class="text-base leading-7 text-stone-400 inline-flex items-center gap-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-activity"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M3 12h4l3 8l4 -16l3 8h4"></path>
              </svg>Department
            </dt>
            <dd class="text-base font-semibold tracking-tight text-white">
              {frontmatter.department}
            </dd>
          </div>
          <div class="flex flex-col gap-y-3 border-l border-stone-700 pl-6">
            <dt
              class="text-base leading-7 text-stone-400 inline-flex items-center gap-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-stack-pop"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M7 9.5l-3 1.5l8 4l8 -4l-3 -1.5"></path>
                <path d="M4 15l8 4l8 -4"></path>
                <path d="M12 11v-7"></path>
                <path d="M9 7l3 -3l3 3"></path>
              </svg>
              Level
            </dt>
            <dd class="text-base font-semibold tracking-tight text-white">
              {frontmatter.level}
            </dd>
          </div>
          <div class="flex flex-col gap-y-3 border-l border-stone-700 pl-6">
            <dt
              class="text-base leading-7 text-stone-400 inline-flex items-center gap-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-clock-bolt"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M20.984 12.53a9 9 0 1 0 -7.552 8.355"></path>
                <path d="M12 7v5l3 3"></path>
                <path d="M19 16l-2 3h4l-2 3"></path>
              </svg>
              Type
            </dt>
            <dd class="text-base font-semibold tracking-tight text-white">
              {frontmatter.type}
            </dd>
          </div>
          <div class="flex flex-col gap-y-3 border-l border-stone-700 pl-6">
            <dt
              class="text-base leading-7 text-stone-400 inline-flex items-center gap-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-coin"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path
                  d="M14.8 9a2 2 0 0 0 -1.8 -1h-2a2 2 0 1 0 0 4h2a2 2 0 1 1 0 4h-2a2 2 0 0 1 -1.8 -1"
                ></path>
                <path d="M12 7v10"></path>
              </svg>
              Salary
            </dt>
            <dd class="text-base font-semibold tracking-tight text-white">
              {frontmatter.salary}
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="mx-auto px-8 md:px-32 py-12 max-w-7xl">
      <div
        class="hover:prose-a:text-white prose prose-a:text-accent-500 prose-blockquote:border-l border-stone-700-black prose-blockquote:text-stone-400 prose-code:text-white prose-headings:font-semibold prose-headings:text-white prose-li:marker:text-accent-500 text-stone-400 prose-pre:border"
      >
        <slot />
      </div>
      <div class="py-6 flex">
        <a
          href="#_"
          class="flex items-center w-auto ring-2 ring-white text-xs rounded-full font-medium h-10 px-4 py-2 uppercase text-black transition-all bg-white hover:bg-black duration-300 focus:ring-2 hover:text-white focus:ring-white focus:ring-offset-black focus:ring-offset-2 justify-between"
          >Apply now</a
        >
      </div>
    </div>
  </section>
</BaseLayout>
