---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import JobEntry from "@/components/jobs/JobEntry.astro";
// Content
import { getCollection } from "astro:content";
const { frontmatter, slug } = Astro.props;
// Load all jobs and match by company slug (or name if preferred)
const allJobs = await getCollection("jobs");
const jobs = allJobs.filter((job) => job.data.company === slug);
---
<BaseLayout pageTitle={frontmatter.name}>
  <section>
    <Wrapper variant="standard" class="py-24 ">
      <Text tag="h1"
      variant="display3XL"
      class="font-semibold tracking-tighter text-balance text-primary">
      {frontmatter.name}
    </Text>
      <div class="items-start mt-12 grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-4">
        <div class="lg:sticky lg:top-24 lg:z-50">
          <div>
            {
              frontmatter.logo ? (
                  <img
                    src={frontmatter.logo}
                    alt={`${frontmatter.name} logo`}
                    class="size-5 "
                  />
              
              ) : (
                  <div class="text-sm ">
                    {frontmatter.name.slice(0, 1).toUpperCase()} 
                  </div>
              
              )
            }
          </div>
          <Text tag="p" variant="textSM" class="mt-2  text-primary/60 ">  
            {frontmatter.description}
          </Text>
       
          {
            frontmatter.about && (
                <Text tag="p" variant="textSM" class="mt-2 text-primary/60 "  >{frontmatter.about}</Text>
            )
       }
          <div class="mt-4">
             <div class="flex items-baseline justify-between">
              <Text tag="h3" variant="textSM" class="font-medium text-primary">
                Headquarters
              </Text>
              <span class="flex-1 mx-2 border-b border-dotted border-primary/30"></span> 
              <Text tag="p" variant="textSM" class="text-primary/60 "
              >  {frontmatter.headquarters}</Text>
            </div>
            <div class="flex items-baseline justify-between">
              <Text tag="h3" variant="textSM" class="font-medium text-primary">
                Location
              </Text>
              <span class="flex-1 mx-2 border-b border-dotted border-primary/30"></span> 
              <Text tag="p" variant="textSM" class="text-primary/60 "
               >  {frontmatter.location}</Text>
            </div>
              <div class="flex items-baseline justify-between">
              <Text tag="h3" variant="textSM" class="font-medium text-primary">
                Size
              </Text>
                <span class="flex-1 mx-2 border-b border-dotted border-primary/30"></span> 
                <Text tag="p" variant="textSM" class="text-primary/60 "
                  >{frontmatter.size}</Text
                >
              </div>
              <div class="flex items-baseline justify-between">
                <Text tag="h3" variant="textSM" class="font-medium text-primary">
                  Founded
                </Text>
                <span class="flex-1 mx-2 border-b border-dotted border-primary/30"></span> 
                {
                  frontmatter.founded && (
                    <Text tag="p" variant="textXS" class="text-primary/60  ">
                       {frontmatter.founded}
                    </Text>
                  )
                }
              </div>
              <div class="flex items-baseline justify-between">
                <Text tag="h3" variant="textSM" class="font-medium text-primary">
                  Company type
                </Text>
                <span class="flex-1 mx-2 border-b border-dotted border-primary/30"></span> 
                {
                  frontmatter.companyType && (
                    <Text tag="p" variant="textXS" class="text-primary/60  ">
                      {frontmatter.companyType}
                    </Text>
                  )
                }
              </div>
              <div class="flex items-baseline justify-between">
                <Text tag="h3" variant="textSM" class="font-medium text-primary">
                  Work policy
                </Text>
                <span class="flex-1 mx-2 border-b border-dotted border-primary/30"></span> 
                {
                  frontmatter.remotePolicy && (
                    <Text tag="p" variant="textXS" class="text-primary/60  ">
                     {frontmatter.remotePolicy}
                    </Text>
                  )
                }
              </div>
              <div class="flex items-baseline justify-between">
                <Text tag="h3" variant="textSM" class="font-medium text-primary">
                  Industry
                </Text>
                <span class="flex-1 mx-2 border-b border-dotted border-primary/30"></span> 
                <Text tag="p" variant="textSM" class="text-primary/60 "
                  >{frontmatter.industry}</Text
                >
              </div>
              <div class="flex items-center mt-2 gap-2">
                <a
                href={frontmatter.website}
                 class="text-xs text-primary hover:underline duration-300 "
              >
                Website
              </a>
                {
                  frontmatter.socials && (
                    <div class="flex items-center gap-2 text-primary/60  ">
                      {frontmatter.socials.twitter && (
                        <a
                          href={frontmatter.socials.twitter}
                           class="text-xs text-primary hover:underline duration-300 "
                        >
                          Twitter
                        </a>
                      )}
                      {frontmatter.socials.linkedin && (
                        <a
                          href={frontmatter.socials.linkedin}
                           class="text-xs text-primary hover:underline duration-300 "
                        >
                          LinkedIn
                        </a>
                      )}
                      {frontmatter.socials.github && (
                        <a
                          href={frontmatter.socials.github}
                           class="text-xs text-primary hover:underline duration-300 "
                        >
                           GitHub
                        </a>
                      )}
                    </div>
                  )
                }
              </div>
          </div>
         
        </div>
        <div class="lg:col-span-2">
         <div class="flex flex-col gap-y-12">
         <div>
            {
              frontmatter.culture && (
                  <Text tag="h3" variant="textLG" class="font-medium text-primary">
                    Culture
                  </Text>
                  <Text  tag="p" variant="textSM" class="mt-1 text-primary/60 " >{frontmatter.culture}</Text>
              )
            }
         </div>
         <div>
            {
              frontmatter.mission && (
              <Text tag="h3" variant="textLG" class="font-medium text-primary " >
                    Mission
                  </Text>
                  <Text tag="p" variant="textBase" class="mt-1 text-primary/60 ">"{frontmatter.mission}"</Text>
              )
            }
         </div>
         <div>
            {
              frontmatter.milestones?.length > 0 && (
                  <Text tag="h3" variant="textSM" class="font-medium text-primary " >
                    Milestones
                  </Text>
                  <ul role="list" class="pl-3 mt-1 text-sm list-disc text-primary/60  ">
                    {frontmatter.milestones.map((milestone) => (
                      <li>{milestone}</li>
                    ))}
                  </ul>
              )
            }
         </div>
         <div>
            {
              frontmatter.values?.length > 0 && (
                  <Text tag="h3" variant="textLG" class="font-medium text-primary " >
                    Values
                  </Text>
                 <ul role="list" class="pl-3 mt-1 text-sm list-disc text-primary/60  ">
                    {frontmatter.values.map((value) => (
                      <li>{value}</li>
                    ))}
                  </ul>
              )
            }
         </div>
          <div>
            {
              frontmatter.benefits?.length > 0 && (
              <Text tag="h3" variant="textLG" class="font-medium text-primary " >
                    Benefits
                  </Text>
                   <ul role="list" class="pl-3 mt-1 text-sm list-disc text-primary/60  ">
                    {frontmatter.benefits.map((benefit) => (
                      <li>{benefit}</li>
                    ))}
                  </ul>
              )
            }
          </div>
         </div>
        </div>
        <div  class="lg:sticky lg:top-24 lg:z-50">
          {
            jobs.length > 0 && (
              <div>
                <Text tag="h2" variant="textBase" class="font-medium text-primary">
                      Open postions at {frontmatter.name}
                 </Text>
                 <div class="flex flex-col mt-1 divide-primary/10 border-primary/10 divide-y border-y">
                  {jobs.map((job) => (
                    <JobEntry post={job} />
                  ))}
                </div>
              </div>
            )
          }
          {
            jobs.length === 0 && (
              <Text class="mt-8 text-primary/60  ">No current openings.</Text>
            )
          }
        </div>
      </div>
    </Wrapper>
  </section>
 
</BaseLayout>
