---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
import { AstroSeo } from "@astrolib/seo";
---

<AstroSeo
  title={frontmatter.title}
  description={frontmatter.description}
  canonical="https://www.lexingtonthemes.com"
  openGraph={{
    url: "https://www.lexingtonthemes.com",
    title: "Title}",
    description: "{frontmatter.description}",
    images: [
      {
        url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg",
        width: 1200,
        height: 630,
        alt: "Social open graph",
        type: "image/jpeg",
      },
      {
        url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg",
        width: 4096,
        height: 4096,
        alt: "Twitter open graph",
        type: "image/jpeg",
      },
      { url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg" },
      { url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg" },
    ],
    site_name: "YourSitesName",
  }}
  twitter={{
    handle: "@TwitterHandle",
    site: "@site",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>
  <section>
    <div
      class="items-center w-full px-8 md:px-12 py-12 lg:pt-32 mx-auto 2xl:max-w-7xl">
      <div class="border-t border-zinc-800 pt-2">
        <img
          class="border border-zinc-800 w-full h-96"
          src={frontmatter.image.url}
          alt={frontmatter.image.alt}
        />
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 lg:gap-0 mt-2">
          <p class="text-white text-base tracking-wide font-display uppercase">
            {frontmatter.title}
          </p>
          <p class="text-white text-base tracking-wide font-display uppercase">
            {frontmatter.pubDate.toString().slice(0, 10)} ⏤ by: {
              frontmatter.author
            }
          </p>
          <p
            class="text-base uppercase md:text-3xl mt-32 lg:text-6xl font-display tracking-tight text-white col-span-full">
            {frontmatter.description}
          </p>
          <ol
            role="list"
            class="flex flex-wrap gap-3 mt-32 font-display uppercase tracking-wide text-white text-xs">
            {
              frontmatter.tags.map((tag) => (
                <li class="inline-flex items-center ">
                  <a
                    class="hover:text-zinc-500 duration-200"
                    href={`/tags/${tag}`}>
                    {tag}
                  </a>
                </li>
              ))
            }
          </ol>
        </div>
        <div class="pt-2 mt-32 border-t border-zinc-800">
          <div class="prose-styles">
            <slot />
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
